applications/plugins/org.csstudio.alarm.treeView/res/dtd/epicsAlarmCfg.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ou">
    <xs:complexType>
      <!-- xs:attribute name="name" type="xs:string"/-->
  	  <xs:element name="efan" minOccurs="0" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>
  
  
  <xs:element name="efan">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
  	  <!-- xs:element name="ecom" minOccurs="0" maxOccurs="unbounded"/-->
  	  <!-- xs:element name="eren" minOccurs="0" maxOccurs="unbounded"/-->
    </xs:complexType>
  </xs:element>

</xs:schema>