applications/plugins/org.csstudio.utility.treemodel.test/res-test/test.dtd

<!ELEMENT ou (efan)*>
<!ELEMENT efan (ecom)*>
<!ELEMENT ecom (econ)*>
<!ELEMENT econ (eren)*>
<!ELEMENT eren (#PCDATA)>

<!ATTLIST ou name CDATA #REQUIRED>
<!ATTLIST efan name CDATA #REQUIRED>
<!ATTLIST ecom name CDATA #REQUIRED>
<!ATTLIST econ name CDATA #REQUIRED>
<!ATTLIST eren name CDATA #REQUIRED>